// Color config

$color-blue: cornflowerblue;
$color-black: #414042;
$color-white: #fff;
$color-pale-gray: #fcfcfc;


// Widget Color

$body-background-color: $color-pale-gray;

$main-menu-background-color: $color-blue;
$main-menu-text-color: $color-white;


$base-text-color: $color-black;