header
    nav#main-menu
        ul
            li
                a(href="#") My First App
            li
                a(href="#") About Express
            li
                a(href="#") Build System