body {
  margin: 0; }

header {
  padding: 1px 0;
  background-color: cornflowerblue; }

#main-menu {
  padding: 20px 0; }
  #main-menu ul {
    padding: 1px 0;
    max-width: 1200px;
    overflow: hidden;
    list-style: none;
    margin: 0 auto; }
    #main-menu ul li {
      float: left;
      margin: 10px; }
