$columns: 12;
$index: 1;

.row {

  @include container;
  margin-bottom: 20px;

  .columns,
  .column {

    @while $index <= $columns {

      &.large-#{$index} {
        @include span($index of $columns);

        &.last {
          @include span($index of $columns last);
        }
      }

      $index: $index + 1;
    }
  }
}